body {
  background-color: rgb(232, 232, 232);
  display: grid;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  background-color: azure;
  padding: 2em;
}

.wrapper h1{
  margin-top: 1em;
}

.everything {
  background-color: azure; 
  max-width: 1600px;
  margin: 0 auto; 
  box-shadow:
    -10px 0 20px rgba(0, 0, 0, 0.4), 
    10px 0 20px rgba(0, 0, 0, 0.4);  
}

header {
  background-color: azure;
  border: 5px solid rgb(3, 50, 86);
  border-radius: 1.5em;
  padding: 3em;
  margin: 2em;
}


header h1{
  font-size: 550%;
  color: rgb(3, 50, 86);
  display: flex;
  justify-content: center;
  font-family:"lato";
  margin-top: 1em;
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  font-family: "lato";
}

nav a {
  padding: 1rem 2rem;
  display: block;
  color: rgb(3, 50, 86);
  text-decoration: none;
  font-size: 200%;
}

nav a:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 1.5em;
}


main {
padding: 1em;
background-color: azure;
text-align: center;
font-size: 100%;
}

.logo {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

.main-text {
  font-size: 200%;
  text-align: center;
  line-height: 1.3;
  margin: 1em;
  padding: 1em;
  color: rgb(3, 50, 86);
  font-family: "lato";
  text-decoration: none;
}

.main-smalltext {
  color: rgb(3, 50, 86);
  text-align: center;
  font-family: "lato";
}

footer {
  background-color: rgb(3, 50, 86);
  padding: 4em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;
}

.footer-logo a {
  color: azure;
  text-decoration: none;
  font-size: 250%;
  justify-content: space-around;
}

.rules {
  font-size: 200%;
  font-family: "Lato";
  line-height: 1.3;
  text-align: center;
  color: rgb(3, 50, 86);
}

h1 {
  font-size: 400%;
  text-align: center;
  color: rgb(3, 50, 86);
  font-family: "lato";
  margin-bottom: 1em;
}


.rules ul {
  text-align: left;
  margin-left: 9.8em;
  list-style: none;
  margin-bottom: 2em;
}

.voting {
  font-size: 200%;
  text-align: center;
  font-family: "lato";
  line-height: 1.3;
  margin: 2em ;
  padding: 2em;
  color: rgb(3, 50, 86);
}

.voting a {
  /* text-decoration: none; */
  color: rgb(3, 50, 86);
}

.voting a:hover {
  color:cornflowerblue;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
} 

.image-row img {
  width: 100%;
  height: auto;
  border: 5px solid rgb(3, 50, 86);
  border-radius: 1.5em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.image-row p {
  color: rgb(3, 50, 86);
  font-size: 250%;
  font-family: "lato";
  flex-wrap: wrap;
}

.player {
  width: 30%;
  text-align: center;
  flex-wrap: wrap;
}

h2 {
  color: rgb(3, 50, 86);
  font-size: 150%;
  text-align: center;
  margin-bottom: 2em;
}

.image-row a:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.rules-link {
  font-size: 150%;
  color: rgb(3, 50, 86);
  font-family: "lato";
}

.rules-link a{
  color: rgb(3, 50, 86);
}

.rules-link a:hover {
  color: cornflowerblue;
}

.voting-details{
  font-size: 200%;
  font-family: "lato";
  color: rgb(3, 50, 86);
  margin: 2em;
  line-height: 1.3;
  text-align: center;
}

.voting-details a {
  color: rgb(3, 50, 86);
}

.voting-details a:hover {
  color: cornflowerblue;
}

.voting-img img{
  border: 10px solid rgb(3, 50, 86);
  border-radius: 1.5em;
  margin-bottom: 2em;
}

.voting-updates-img img {
  border: 10px solid rgb(3, 50, 86);
  border-radius: 1.5em;
  margin-bottom: 3em;
  flex-wrap: wrap;
  gap: 20px;
}